<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /> <!--Why are you guys still using .net framework, .net core and .net 5 is the way to go. Always use the latest and greatest until you cannont.-->
    </startup>
</configuration>